<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body id="body">

<footer class="footer section text-center" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="social-media">
                    <li>
                        <a href="https://www.facebook.com/NYU/">
                            <i class="tf-ion-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/nyuniversity/?hl=en">
                            <i class="tf-ion-social-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/nyuniversity">
                            <i class="tf-ion-social-twitter"></i>
                        </a>
                    </li>
                </ul>
                <p class="copyright-text">Copyright &copy;2021, Designed by Themefisher, Developed by HQZ group</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
