<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<p>register</p>
<!--<p th:if="${error}" class="error">error during registration</p>-->
<form th:action="@{/register-corp}" th:object="${corpCustomerVO}" method="post">
    <label>email</label>
    <input type="text" th:field="*{customer.email}" /><br/>

    <label>password</label>
    <input type="password" th:field="*{customer.password}" /><br/>

    <label>street</label>
    <input type="text" th:field="*{customer.street}" /><br/>

    <label>city</label>
    <input type="text" th:field="*{customer.city}" /><br/>

    <label>state</label>
    <input type="text" th:field="*{customer.state}" /><br/>

    <label>zipcode</label>
    <input type="text" th:field="*{customer.zipcode}" /><br/>

    <label>phone</label>
    <input type="text" th:field="*{customer.phone}" /><br/>

    <label>employeeId</label>
    <input type="text" th:field="*{employeeId}" /><br/>

    <label>corpRegisterNo</label>
    <input type="text" th:field="*{corpRegisterNo}" /><br/>

    <button type="submit">Register</button>
</form>
</body>
</html>